/* Base button styles */
.btn {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Primary button */
.btn.primary {
    background-color: #ff6347;
    color: white;
}

.btn.primary:hover {
    background-color: #8c2515;
}

/* Secondary button */
.btn.secondary {
    background-color: #4caf50;
    color: white;
}

.btn.secondary:hover {
    background-color: #2b852f;
}

.btn.answer {
    background-color: #0f4354;
    color: rgb(0, 0, 0);
}

.btn.answer:hover {
    background-color: #29546f;
}

.btn.answer-clicked {
    background-color: #29546f;
    color: rgb(0, 0, 0);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

/* Disabled button */
.btn:disabled {
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
}

/* Hover effect for all buttons */
.btn:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;

}